.left-all {
  text-align: left;
}
.right-all {
  text-align: right;
  color: white;
}
.center-all {
  text-align: center;
}
.film_plakat{
    width: 150px;
    float: left;
    margin-right: 15px;
    }
.search{
    text-align: right;

}

.center_main {
    margin: auto;
    width: 50%;
}
.header-white {
    color: white;
}
